.heading-container {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
}
.name {
  font-size: 30px;
}
.header-options {
  float: right;
  margin: 10px;
  color: rgb(204, 200, 200);
}
.header-options2 {
  margin: 10px;
}
.image {
  margin: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.name-image {
  font-size: 50px;
  margin-left: 50px;
}

.university-image {
  margin-left: 150px;
  color: aqua;
}

.icon {
  margin-left: 150px;
  font-size: 40px;
}

.icon-git {
  margin-left: 100px;
  font-size: 40px;
}

.description {
  float: right;
  display: inline;
}
